html {
  font-family: Overpass, sans-serif;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  color: #fff;
}

.btn-ghost {
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: transparent;
}

a {
  color: #fff;
}

.line {
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

@media screen and (min-width: 60em) {

  .line {
    border-bottom: 0;
    border-right: 2px solid rgba(255, 255, 255, .5);
  }

}
